body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar{
    top: -38px !important;
    position: relative;
}

.orange_bar {
    background-color: #EDA566;
    width: 100%;
    height: 6px;
}

.top_bar {
    display: flex;
    align-items: center;
    padding: 9px 114px;
    justify-content: space-around;
    max-width: 1440px;
    background-color: white;
}

.logo {
    width: 147px;
    height: 30px;
    background-image: url("../Image/mp_logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 35px;
}

.user_info {
    display: flex;
    gap: 15px;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: 400;
    align-items: center;
}

.user_navigation {
    display: flex;
    gap: 15px;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: 400;
    align-items: center;
    padding-right: 80px;
}

.publish_article {
    padding: 8px 12px;
    background-color: #116db4;
    color: white;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #116db4;
}

.nav_icon {
    margin-right: 5px;
    transform: scale(1.2);
    color: #252525;
}

.nav_icon_white {
    margin-right: 5px;
    transform: scale(1.2);
    color: #FFFFFF;
}

.filter_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
    padding: 16px;
    background-color: #F7F7F6;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    padding: 16px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0,0,0,.15), 0 -1px 2px rgba(0,0,0,.05);
    margin: 0;
}

.categorie, .categorie_main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    background-color: #FFFFFF;
    border-left: 1px solid #e5e5e4;
    padding: 16px;
}
